.outsideWrapper {
    width: 62em;
    height: 46em;
    margin: 1em;
    border: 1px solid blue;
}

.insideWrapper {
    width: 100%;
    height: 100%;
    position: relative;
}

.coveredImage {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

.coveringCanvas {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    /* background-color: rgba(255, 0, 0, .1); */
}

.selectionWrapper {
    display: block;
}

.container {
    display: inline;
}